VITE_API_BASE_URL= # http://yourdomain  OR  http://localhost:8000
VITE_STRIPE_PUBLIC_KEY= # your stripe public key : pk_test_51TSxxxxxxxxxx
VITE_DEFAULT_CURRENCY= # currency must match to backend
VITE_APP_NAME= # your appname
